
.syntax {
	font-family: monospace;
}

.optional {
	font-style: italic;
}

.returnValue {
	margin-top: 1em;
}

h3, h2 {
	margin-top: 2.5em;
	margin-bottom: 0.5em;
}

p { margin-bottom: 0.1em; }

li { margin-top: 0.5em; }
