.logo { margin: auto; display: block;}
#subtitle { text-align: center; margin-top: 0.75em; font-size: 1.25em;}
a { color: black; }
hr { margin-top: 3em; margin-bottom: 3em; }
table { border-collapse: collapse; border-spacing: 0; }
tr:first-child {background-color: #efe8e0; color: #000; }
tr:nth-child(2n) {background-color: #f3f3f3;}
tr:first-child th {padding: 0.5em; }
td, th { padding: 0.4em; border: 1px solid #f8f4f0; text-align: left;  }
tr:not(:first-child) th { background-color: #fff; font-weight: normal;}
.cmpExpl { font-size: smaller; margin-top: 0.3em; margin-right: 2em; color: #666; }
.colored { color: #ff8200; }
.fiddle { margin-top: 0.5em; margin-bottom: 0.5em; }

.wword {
	font-size: 3em; 
}

.rotated {
	transform: rotate(-90deg);
	transform-origin: center;
	-webkit-transform: rotate(-90deg); 
	-webkit-transform-origin: center;
	-ms-transform: rotate(-90deg);
	-ms-transform-origin: center;
	
	vertical-align: middle;
}

#shareDiv {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: #eee;
	padding: 0.7em;
	
	overflow: hidden;
	height: 5em;
	display: none;
}

#shareExt {
	margin: 0.75em 0;
}

.actionButton, .ghButton, .shareButton {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 20px;
	text-decoration:none;
}
.ghButton {
	background-color:#ffa000;
	text-shadow:1px 1px 0px #cc9f52;
}.ghButton:hover {
	background-color:#f09000;
}
.actionButton {
	background-color:#60a0ff;
	text-shadow:1px 1px 0px #528ecc;
}.actionButton:hover {
	background-color:#378de5;
}
.shareButton {
	background-color:#000;
	text-shadow:1px 1px 0px #888;
}.shareButton:hover {
	background-color:#555;
}
.ghButton:active, .actionButton:active, .shareButton:active {
	position:relative;
	top:1px;
}

.actionButton span, .shareButton span { font-size: 10px; }

.newsItem { margin-bottom: 0.75em; }

