body {margin: 0; line-height: 1.5; font-family: helvetica, verdana, arial, freesans, clean, sans-serif;}
img { border: 0; }
a { color: #000; }

#head, #foot, #main {margin: auto; width: 98%; padding: 0;  vertical-align: middle;}
.container { margin: auto; min-width: 950px; max-width: 67em; }
#head .container { height: 1.9em; border-bottom: 1px solid #aaa;}
#head .container img { height: 1.7em; float: left; margin: 0.1em 0.5em;} 
#topMenu { text-align: right; line-height: normal; }
#topMenu a { display: inline-block; height: 1.4em; padding: 0.5em 1em 0em; color: black; text-decoration: none; vertical-align: middle;}
#topMenu a:hover { color: white; background-color: #f80; }
#topMenu a.selected,  #topMenu a:hover.selected { color: white; background-color: black; }
#foot .container { height: 2.4em; border-top: 1px solid #aaa; padding: 0; margin-top: 3em;}
#foot .container p { font-size: smaller; color: #bbb; margin: 0.5em; padding: 0; text-align: left; }
#foot .container A { color: #888; font-weight: bold; font-size: smaller; }
#main .container { padding: 1em; }

.nonInverted { color: #000; background-color: #fff; padding: 0; }
h1, h2, h3, h4 { color: #fff; background-color: #000; padding: 3px; }
h2, h3, h4 { margin-top: 3em;}
h1 + h2 { margin-top: 0.5em; }
h2 + h3, h3 + h4 { margin-top: 1em; }
h1 a, h2 a, h3 a, h4 a { color: #fff; display: block; }
h5 { font-size: 1em; margin-bottom: 0.5em; }

pre {
	margin: 0.3em 0 2em;
	padding: 0.5em 1em;
	background-color: #efe8e0;
	font-family: monospace;
	border-left: 6px solid #ff8200;
}