#docmain {
	width: 56em;
	float: right;
	padding-top: 0.1em;
	padding-left: 1em;
	border-left: 1px solid #aaa;
}
#toc {
	width: 10em;
	float: left;
	padding-top: 1em;
	line-height: normal;
}
#foot {
	clear: both;
}
#toc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#toc li {
	padding: 0.1em;
}
#toc h3 {
	margin: 0 0 0.5em;
}
.backOverview {
	font-size: smaller;
}
p.docFoot {
	margin-top: 2em;
}
.container { min-width: 70em !important; } /* overrides minimum.css */
h2, h3, h4 { margin-top: 1.5em !important;  margin-bottom: 0.5em !important;} /* overrides minimum.css */

dl { line-height: normal; }
dd dl { margin: 0.5em 0.5em 1em; }
dd dl dt { font-style: italic; }
dt { margin-top: 0.5em; }
dl dl dt { margin-top: 0.25em; }

.optional {
	font-style: italic;
}

.returnValue {
	margin-top: 1em;
}

span.tocMod {
	font-size: 50%;
	color: #888;
}

div.availability {
	font-style: italic;
	font-size: smaller;
	margin-top: 1.5em;
	margin-bottom: 0em;
	color: #888;
}

div.examples h4 { margin-top: 2.5em !important; }
div.examples { margin-bottom: 3.5em; }

a.func {
	text-decoration: none;
	background-color: #f8f0f0;
	padding: 2px;
}

