<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{title}}</title>
{{if !this.externalCss || externalCss.length == 0}}<link rel="stylesheet" type="text/css" href="/css/minimum.css"/>{{/if}}
{{each link: this.externalCss}}<link rel="stylesheet" type="text/css" href="{{link}}"/>{{/each}}
{{if this.inlineCss}}<style type="text/css">{{this.inlineCss}}</style>{{/if}}
{{each link: this.asyncJs}}<script type="text/javascript" src="{{link}}" async="async"></script>{{/each}}
{{each link: this.externalJs}}<script type="text/javascript" src="{{link}}"></script>{{/each}}
{{if this.inlineJs}}<script type="text/javascript">{{this.inlineJs}}</script>{{/if}}
</head>
<body>
<div id="head">
	<div class="container">
		
		<a href="/"><!--[if lte IE 8]><img src='/img/minified-small.png' alt='Minified'><![endif]-->
		<!--[if gt IE 8]><img src='/img/minified.svg' alt='Minified'><![endif]-->
		<!--[if !IE]> --><img src='/img/minified.svg' alt='Minified'/><!-- <![endif]--></a>

		<div id="topMenu">
			<a class="{{section == 'home' ? 'selected' : 'notSelected'}}" href="/">Home</a>
			<a class="{{section == 'download' ? 'selected' : 'notSelected'}}" href="/download/">Download</a>
			<a class="{{section == 'build' ? 'selected' : 'notSelected'}}" href="/builder/">Build</a>
			<a class="{{section == 'docs' ? 'selected' : 'notSelected'}}" href="/docs/">Documentation</a>
			<a class="{{section == 'reference' ? 'selected' : 'notSelected'}}" href="/api/">API</a>
			<a class="{{section == 'about' ? 'selected' : 'notSelected'}}" href="/about/">About</a>
		</div>
	</div>
</div>
<div id="main">
	<div class="container">{{{main}}}</div>
</div>
<div id="foot">
	<div class="container">
		<p>Please send feedback to <a href="mailto:tim@tjansen.de">tim@tjansen.de</a>. For updates visit the 
		<a href="http://google.com/+Minifiedjs">Google+ page</a>.
		<a href="/impressum.html">Legal Notice / Impressum</a>.</p>
	</div>
</div>


</body>
</html>